<div id="contactUs" class="reveal-modal" data-reveal>

  <p class="contactTitle"> You can find us in Pimperne at: </p>

  <div>Unit 6 Franwill Industrial Estate, </div>
  <div>Down Road, </div>
  <div>Pimperne, </div>
  <div>Blandford Forum, </div>
  <div>DT11 8UP </div>
  &nbsp;
  <div><b>Home Telephone Number:</b> 01258 452242</div>
  <div><b>Mobile Telephone Number:</b> 07803008677<a href="https://www.facebook.com/CottageShabby2Chic?fref=ts" class="contactFacebook">Find us on Facebook &nbsp;<i class="fa fa-facebook-square fa-2x"></i></a></div>


</div>