<div class="side-menu">
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="#" id="my-link">BESPOKE</a>
    </li>
    <li>
      <a href="#">COLLECTIONS</a>
    </li>
    <li>
      <a href="#">ABOUT US</a>
    </li>
    <li>
      <a href="#">CONTACT US</a>
    </li>
  </ul>
</div>