<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div id="intro">
        <div class="story">
            <div class="brand-name">Shepherd-Ashby Ltd.</div>
            <script> $('.brand-name').arctext({radius: 600}); </script>
            <div class="description">This is an online space for chanelle shepherd ashby. She must fill in this section with a basic description of the business and what it offers. </div>
            <img src="/assets/arrow.png">
        </div> <!--.story-->
      </div> <!--#intro-->

      <div id="second">
        <div class="header-wrapper">
          <div class="header">Shepherd-Ashby</div>
        </div>
        <div class="side-menu">
          <ul>
            <li>
              <a href="#">HOME</a>
            </li>
            <li>
              <a href="#">BESPOKE</a>
            </li>
            <li>
              <a href="#">COLLECTIONS</a>
            </li>
            <li>
              <a href="#">ABOUT US</a>
            </li>
            <li>
              <a href="#">CONTACT US</a>
            </li>
          </ul>
        </div>
        <div class="story gallery">
            Article content here <a href="/">here</a>
            <div class="rectangle"></div>
        </div> <!--.story-->
        <div class="bottom-navigation">something</div>
      </div>

      <div id="third">
    <div class="story">
        <div class="float-left">
            <h2>What Happens When JavaScript is Disabled?</h2>
          </div>
      </div> <!--.story-->
  </div>

    </body>
</html>
