<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div id="intro">
        <div class="story">
            <div class="brand-name">Shepherd-Ashby Ltd.</div>

            <div class="description">We create bespoke furniture, upscale classic pieces and have a passion for ingenuitive design. </div>
            <img src="/assets/arrow.png">
        </div> <!--.story-->
      </div> <!--#intro-->

      <div id="second">
        <div class="header-wrapper">
          <div class="header">Shepherd-Ashby</div>
        </div>

        <%= render 'side_menu' %>
        
        <%= render 'gallery' %>

      </div>

      <div id="third">
    <div class="story">
        <div class="float-left">
            <h2>What Happens When JavaScript is Disabled?</h2>
          </div>
      </div> <!--.story-->
    </div>

    </body>
</html>
