<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <div id="intro">
        <div class="story">
            <div class="brand-name">Country Rose Ltd.</div>

            <div class="description">Upscaling classic furniture, and Creating decorative pieces.  </div>
            <a id="arrow">
              <p class="clickMe">Click Here</p>
            <img src="/assets/arrow.png"></a>
        </div> <!--.story-->
      </div> <!--#intro-->

      <div id="second">
        <div class="header-wrapper">
          <div class="header">
            <ul>
              <li>
                <a id="home">HOME</a>
              </li>
              <li>
                <a id="bespoke">BESPOKE</a>
              </li>
<!--               <li>
                <a href="#">COLLECTIONS</a>
              </li> -->
              <li class="company_name"> Country Rose Furniture </li>
              <li>
                <a id="aboutUs">ABOUT US</a>
              </li>
              <li>
                <a href="#" data-reveal-id="contactUs">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
        <%= render 'contact_us' %>
        <%= render 'side_menu' %>
        
        <%= render 'gallery' %>

      </div>

    </body>
</html>
