// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
}

// Cover Page

#intro {
    background: image-url("13.jpg") 50% 0 fixed;
    height: 650px;
    width:100%;
    margin: 0;
    padding: 80px 0 0 0;
}

.brand-name {
  // text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 80px;
  color:#000000;
  padding-bottom:100px;
}

.description {
  // text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 30px;
  color:#000000 ;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 30px;
}

p.clickMe {
  color: black;
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
  padding: 3px 20px;
  letter-spacing: 0.1em;
}

// Shared

.story {
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
    text-align: center;
}

// Gallery Page

#second {
  color: white;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background-color:white;
  border-top: 3px solid black;
  background: image-url("dots.png") 100% 0 repeat fixed;
}

div.header-wrapper {
  width:100%;
  height:120px;
  // background-color: white;
  color: black;
  margin: auto;
  background-color:white;

  // background-color:#91CFCA;
  // opacity:0.5;
  // background: image-url("white.jpg") 50% 0 fixed;

}

div.header ul li {
  display: inline-block;
  padding: 3px 20px;
  letter-spacing: 0.1em;
  padding-top:25px;
}

li.company_name {
  font-size: 40px;
  font-family: 'Allura', cursive;
}

.header {
  // font-family: 'IM Fell English SC', serif;

  font-size: 35px;
  text-align: center;
  border-top: 2px solid #aaaaaa;
  // margin-left:125px;
  // padding-top:3%;
  // border-bottom: solid black;
  // width:400px;
}

.gallery {
  // margin-top: 10px; 
  // width:60%;
  // height:60%;
  // display: inline-block;
  padding-top: 20px;
  // background-color:yellow;
}

div.side-menu {
  // margin-top: 10px;
  padding-top: 10px;
  color:black;
  background-color:yellow;
  width: 140px;
  display: inline-block;
  height: 60%;
  float: left;
  margin-left: 50px;
}

div.bottom-navigation {
  color: black;
  margin-left: 11.8%;
}

div.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-left: 10px;
  
  // background-color:white;
}

div.side-menu ul li a {
  color: black;
  text-decoration: none;
  font-family: 'IM Fell English SC', serif;
}

div.rectangle {
  width:100px;
  height:100px;
  background-color: yellow;
  float: right;
}

.orbit-container .orbit-slides-container > * {
      position:absolute;
      
      }

div.orbit-container {
  height:480px;
}

// About Page

#third {
  background: image-url("wooden.jpg") 50% 0 fixed;
  height: 650px;
  width:100%;
  margin: 0;
}

// Contact Us Page

p.contactTitle {
  font-weight: bold;
}

a.contactFacebook {
  margin-left: 450px;
}

// sign in page

div.signInBackground {
   background: image-url("frontweb.jpg");
   height: 650px;
   width:100%;
   background-size:100% 650px;
   background-repeat:no-repeat;

}

div.signInWrapper {
  width: 400px;
  height: 300px;
  // background-color: white;
  padding:10px;
}

h1.signIn {
  font-size: 60px;
}

// control management system page

div.productForm {
  width: 500px;
  background-color:white;
  margin:auto;
  margin-top: 50px;
  padding:20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: black;
}

li.cmsSignOut {
  float:right;
  margin-top: 25px;
}

p.titleProducts {
  font-size:20px;
  letter-spacing: 0.1em;
}







