// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
}

// Cover Page

#intro {
    background: image-url("13.jpg") 50% 0 fixed;
    color: white;
    height: 650px;
    width:100%;
    margin: 0;
    padding: 80px 0 0 0;
}

.brand-name {
  // text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 80px;
  color:#000000;
  padding-bottom:100px;
}

.description {
  // text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 30px;
  color:#000000 ;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 30px;
}

// Shared

.story {
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
    text-align: center;
}

// Gallery Page

#second {
  color: white;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background-color:white;
}

div.header-wrapper {
  width:100%;
  height:80px;
  background-color: white;
  color: black;
}

.header {
  font-family: 'IM Fell English SC', serif;
  font-size: 35px;
  margin-left:11.8%;
  padding-top:3%;
}

.gallery {
  margin-top: 10px;
  margin-left: 22px;
  width:60%;
  height:60%;
  background: image-url("hearts.jpg") 50% 0 no-repeat fixed;
  display: inline-block;
}

div.side-menu {
  margin-top: 10px;
  color:black;
  width: 10%;
  display: inline-block;
  height: 60%;
  float: left;
}

div.bottom-navigation {
  color: black;
  margin-left: 11.8%;
}

div.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-left: 10px;
}

div.side-menu ul li a {
  color: black;
  text-decoration: none;
  font-family: 'IM Fell English SC', serif;
}

div.rectangle {
  width:100px;
  height:100px;
  background-color: yellow;
  float: right;
}






